	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home fa-2x"></em>
				</a></li>
				<li class="active">Tablero</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Tablero</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
			<p>En esta sección se van a mostrar las actividades realizadas, va a ser como </br>
			un tablero de actividades realizadas, por ejemplo, peliculas añadidas, musica agregada,</br>
			tareas que requieren atencion.</p>
			</div>
		</div><!--/.row-->		
		
	</div><!--/.main-->